.header{
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgb(4 9 30 / 90%),rgb(4 9 30)),url(https://ict-innovation-fest-2021.mist.ac.bd/assets/img/project.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header p{
    color:aqua;
    font-size: 70px;
    letter-spacing: 2px;
}